*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}


/* Categoria1 */

.produtos1{
    background-color: blue;
    padding-bottom: 150px;
}

.produtos1 > h2{
    text-align: center;
    padding: 50px 0px 10px 0px;
    color: white;
    font-size: 2em;
}

figcaption {
    padding-top: 10px;
}

.categoria1{
   display: flex;
   flex-wrap: wrap;
   max-width: 800px;
   margin: auto;
   text-align: center;
}

.categoria1 > div{
    flex: 1 1 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 40px 10px;
    padding: 50px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.produtos1 > p{
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding-bottom: 10px;
    color: white;
    line-height: 1.6;
    font-size: 1.2em;
}

.pd1-btn{
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    
}

.pd1-btn > button{
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: green;
}

.pd1-btn > button > a{
    text-decoration: none;
    color: white; 
}

.pd1-btn > button:hover{
    background-color: rgb(18, 192, 85);
}

/* Produto2 */

.categoria2{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto; 
    border: 1px solid white;
}

.categoria2 > div{
    border: 2px solid rgb(202, 200, 200);
    flex: 1 1 150px;
    margin: 50px 10px;
    text-align: center;
    cursor: pointer;
}

.btn{
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}

.btn > button{
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: blue;
}

.btn > button > a{
    text-decoration: none;
    color: white;
}

/* Personalização */

.personalizacao{
    display: flex;
    flex-wrap: wrap;
    max-width: 890px;
    margin: auto;
    align-items: center;
}

.ps1 > p{
    margin: 20px 0px;
}


.personalizacao > div{
    flex: 1 1 200px;
    margin: 50px 10px;
}

.ps2 > div {
    position: relative;
    margin: 50px 0px;
}

.ps2 > div > h2{
    position: absolute;
    left: 6%;
    top: 0;
    padding-left: 80px;
}

.ps2 > div > p{
    position: absolute;
    left: 6%;
    top: 55%;
    padding-left: 80px;
}


/* Produto 3 */

/* .pd3-2{
    background-image: url('../imagens/f1.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
}

.pd3-3{
    background-image: url('../imagens/f2.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
}

.pd3-4{
    background-image: url('../imagens/f3.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
}

.pd3-5{
    background-image: url('../imagens/f4.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
} */

/* .produto3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center; */
    /* max-width: 980px;
    margin: auto; */
    /* margin-top: 50px;
} */

/* .produto3 > div{
    padding: 150px 20px;
    margin: 5px;
}

.pd3-1 > p{
    padding: 20px 0px;
}

.pd3-1{
    grid-row: 1/4;
}

.pd3-4, .pd3-5{
    grid-row: 2/4;
}

.pd-btn{
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: blue;
}

.pd-btn > a{
    color: white; 
    text-decoration: none;
} */

/* Produto 4 */

/* .produto4{
    display: grid;
    grid-template-columns: 1fr 300px;
    max-width: 700px;
    margin: 100px auto;
    text-align: center; 
}

.produto4 > div{
    margin: 10px;
}

.pd4-1 > p{
    padding: 30px 0px;
}

.pd4-2{
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
} */

/* Rodape Marcas */

.rodape-marcas{
    background-color: blue;
    text-align: center;
}

.rodape-marcas > h2{
    text-align: center;
    padding: 50px 0px;
    color: white;
    font-size: 2em;
}

/* Formulario */

.formulario{
    max-width: 500px;
    margin: auto;
    padding-bottom: 50px;
}

.formulario > div > h2{
    color: white; 
}

.formulario > div > p{
    color: white; 
    padding: 10px 0px;
}

.formulario > div > form > input{
    border: none;
    width: 350px;
    padding: 20px;
    border-radius: 10px;

}

.formulario > div > form > button{
    border: none;
    width: 100px;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
}


@media(max-width: 900px){

    .cabecalho{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 800px;
        margin: auto;
        align-items: center;
        text-align: center;
    }

    .personalizacao{
        display: flex;
        flex-wrap: wrap;
        max-width: 890px;
        margin: auto;
        align-items: center;
    }
    
    .personalizacao > div{
        flex: 1 1 400px;
        margin: 50px 10px;
    }
    
    .ps2 > div {
        position: sticky;
        
    }
    
    .ps2 > div > h2{
        display: block;
        left: 6%;
        top: 0;
        padding-left: 80px;
    }
    
    .ps2 > div > p{
        position: absolute;
        left: 6%;
        top: 55%;
        padding-left: 80px;
    }

    .produto3{
      display: flex;
      flex-wrap: wrap;
    }

    .produto3 > div{
        flex: 1 1 400px;
    }

    .produto4{
        grid-template-columns: 1fr;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .formulario > div{
        flex: 1 1 400px;
    }

    .formulario > div > form > input{
        width: 100%;
    }

}

